---
- name: check for old docker versions
  package:
    name:
      - docker
      - docker-common
      - docker-engine
    state: absent

- name: add docker rpm key
  rpm_key:
    key: "{{ docker_yum_gpg_key }}"
    state: present

- name: add docker repo
  get_url:
    url: "{{ docker_yum_repo_url }}"
    dest: '/etc/yum.repos.d/docker-{{ docker_edition }}.repo'
    owner: root
    group: root
    mode: 0644