{
  "datacenter": "dc1",
  "enable_syslog": true,
  "client_addr": "0.0.0.0",
  "bind_addr": "{{ ansible_eth1.ipv4.address }}",
  "rejoin_after_leave": true,
  "ui": true,
{% if consul_master == "yes" %}
  "bootstrap_expect": {{ groups['servers'] | length }},
{% endif %}
{% if consul_join == "yes" %}
  "start_join": [ "10.0.0.10" ],
{% endif %}
  "data_dir": "/data/consul/",
{% if consul_server == "yes" %}
  "server": true
{% else %}
  "server": false
{% endif %}    
}