#!/bin/bash
# {{ ansible_managed }}
# {{ ansible_default_ipv4.address }}
# {{ ansible_eth1.ipv4.address }}

data_dir = {{nomad_data_dir}}
bind_addr = {{nomad_bind_addr}}
{% if ansible_eth1.ipv4.address == {{nomad_bind_addr_server}}}} %}
server {{nomad_server}}
{% else %}
client {{nomad_client}}
{% endif %}